@font-face {
  font-family: iransans;
  src: url(/Fonts/IRANSansX-Regular.woff2);
  font-weight: normal;
}
@font-face {
  font-family: iransans;
  src: url(/Fonts/IRANSansX-Bold.woff2);
  font-weight: bold;
}

*,
*::before,
*::after {
  font-family: inherit;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: iransans;
  box-sizing: border-box;
  font-size: 62.5%;
  /* direction: rtl; */
}

body {
  background-color: #d7eeff;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hidden {
  opacity: 0;
  transition: 0.5s;
}

.ndisplay {
  display: none;
}

.main-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 100vh;
}

.left__img {
  width: auto;
  height: 100vh;
  object-fit: contain;
  /* border-radius: 10px; */
}

.right {
  /* width: 60vw; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 60%;
}

label {
  text-align: right;
}

input {
  width: 20%;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.gague {
  text-align: center;
  width: 80%;
  padding: 1rem 2rem;
  font-size: 1.7rem;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  border: none;
  border: 2px double #0f254e;
  margin-bottom: 0;
  transition: border 0.2s;
}

.width100 {
  width: 100%;
}

.ss02 {
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

.label {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: right;
  width: 80%;
  margin-bottom: 0.7rem;
}

.btn {
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  font-size: 2rem;
  background-color: #afddff;
  padding: 1rem 2rem;
  margin: 1rem;
  text-decoration: none;
  border: 2px solid #222;
  transition: all 0.5s;
}

.btn-submit {
  padding: 0.1 0;
  font-size: 1.6rem;
  margin-top: 2.3rem;
}

.raise:hover,
.raise:focus {
  /* box-shadow: 0 0.5em 0.5em -0.4em #fff;
  transform: translateY(-0.25em); */
  background-color: #193569;
  color: #fff;
  border-color: #fff;
}

div > a {
  color: inherit;
}

.input-margin {
  margin-bottom: 3rem;
}

@media screen and (max-width: 1100px) {
  html,
  body {
    overflow: auto;
    overflow-x: hidden;
  }
  .main-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .left__img {
    width: 100vw;
    height: auto;
    margin-top: 5rem;
  }
  .form {
    height: 50vh;
  }
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
